<div class="mb-6" role="banner" aria-label="{{ 'sylius.ui.home'|trans }}">
    <div class="overflow-hidden">
        <div class="d-flex justify-content-center align-items-center position-relative">
            <div class="pt-4 w-25" style="text-align: center;">
                <div class="fs-5 pb-2">¡Gracias por visitar <span class="">VX Store</span>!</div>
                <div class="fs-6">Si te interesa alguno de nuestros artículos, no dudes en contactarnos para obtener más información sobre las condiciones de venta y entrega.</div>
                <div class="fs-6">Todos los artículos son de segunda mano pero en perfecto estado.</div>
            </div>
            {#<img src="{{ asset('build/app/shop/images/homepage-banner-test.jpeg') }}" width="1920" height="100%" class="img-fluid" alt="{{ 'sylius.ui.home'|trans }}">#}
            {#<img src="{{ asset('build/shop/images/homepage-banner-logo.webp', 'shop') }}" class="position-absolute" style="max-width: 40vw" alt="{{ 'sylius.homepage.new_collection'|trans }}">#}
        </div>
    </div>
</div>
