<div class="mb-6" role="banner" aria-label="{{ 'sylius.ui.home'|trans }}">
    <div class="overflow-hidden">
        <div class="d-flex justify-content-center align-items-center position-relative">
            <h1>Banner here!</h1>
            {#<img src="{{ asset('build/app/shop/images/homepage-banner-test.jpeg') }}" width="1920" height="100%" class="img-fluid" alt="{{ 'sylius.ui.home'|trans }}">#}
            {#<img src="{{ asset('build/shop/images/homepage-banner-logo.webp', 'shop') }}" class="position-absolute" style="max-width: 40vw" alt="{{ 'sylius.homepage.new_collection'|trans }}">#}
        </div>
    </div>
</div>
